
body{
  height: 100vh;
}

#root{height: 100vh;
}

.app{
  height: 100vh;
}


.movies-container{
  display: grid;
  
  background-color: #292929;
  height: fit-content;
  align-content: flex-start;
  justify-content: space-around;
  padding:10%;
  height: 95%;
  


}

a{text-decoration: none;
  height: 200px;
  width: fit-content;
}


@media only screen and (min-width: 375px) {
  .movies-container{
    grid-template-columns: 80vw;
  }
}

@media only screen and (min-width: 768px) {
  .movies-container{
    grid-template-columns: 40vw 40vw;
  }
}

@media only screen and (min-width: 1440px) {
  .movies-container{
    
    grid-template-columns: 26.6vw 26.6vw 26.6vw;
  }
  img{
    width: 26.6vw;
  }
}

@media only screen and (min-width: 1920px) {
  .movies-container{
    grid-template-columns: 20vw 20vw 20vw 20vw;
  }
}

