.movies-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #292929;
  height: 100vh;
  align-content: flex-start;
  justify-content: space-around;
  padding:5%;


}

.App{
  display: flex;
  flex-direction: column;
}