.movies-container{
    background-color: #292929;
    //display: grid;
    //grid-template-columns: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    height: 90%;
    padding-top: 10%;
    a{
        width: 500px;
        height: fit-content;
    }
}