//vars
$width:100vw/4;
$height:200px;

.card-container{
    margin-inline: 1%;
    margin-bottom: $height;
    width: 100%;
    height: $height;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 0;   

    img{
        border-radius: 20px;
        max-width: 300px;
        max-height: 100%;
        //object-fit: cover;
        border-right: 10px solid transparent;
    }

    .lower-content{
        position: relative;
        top: -1px;
        border-radius: 0 0 20px 20px;
        background-color: #292929;
        color:white;
        width: 300px;
        height: fit-content;
        display: none;
        border-bottom: 10px solid #141414;
        
    }
}

.card-container:hover{
    z-index: 10000;
    animation: scaleUp 200ms ease-in forwards;
    cursor: grab;
    img{
        animation: lowerOpacity 300ms ease-in forwards;
        border-radius: 20px 20px 0 0;
    }
    .lower-content{
        animation: lowerOpacityLower 300ms ease-in forwards ;
        display: block;
    }
}

@keyframes lowerOpacityLower {
    from{
        opacity: 0;
        border-right: 10px solid transparent;
        

    }
    to{
        opacity: 100;
        border-right: 10px solid #141414;
    }
    
}
@keyframes lowerOpacity {

    from{
        border-right: 10px solid transparent;
        

    }
    to{
        border-right: 10px solid #141414;
    }
    
}

@keyframes scaleUp {
    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.1);
    }
    
}
