

.card-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    img{
        aspect-ratio: 16/9;
        width: clamp(300px,100%,500px);
        
    }
    .lower-content{
       background-color: grey;
       height: inherit;
        p{
            display: none;
        }
    }

    &:hover{
        animation: scale-up 200ms ease-in forwards ;
        box-shadow: 5px 5px black;
        
        .lower-content{
           
            p{
                display: inline;
            }
        }
    }
}

@keyframes scale-up {

    from{
        transform: scale(1);
        z-index: 0;

    }

    to{
        transform: scale(1.1);
        z-index: 10000;

    }
    
}